@import "bootstrap/scss/bootstrap";
body {
  background-color: grey;
}
img {
  width: 25em !important;
  height: 15em !important;
}
a {
  text-decoration: none;
}
.carousel-inner img {
  height: 30em !important;
}
