@import "bootstrap/scss/bootstrap";
h1 {
  text-align: center !important;
}
img {
  width: 25em !important;
  height: 15em !important;
}
.imagecaroussel {
  float: right !important;
  height: 11em !important;
  width: 18em !important;
}
nav a:hover {
  border-bottom: 3px solid red !important
  ;
}
.buttondrop {
  background-color: rgba(255, 255, 255, 0) !important;
  color: rgb(60, 60, 60) !important;
  border: none !important;
}
a {
  text-decoration: none;
}
.carousel-inner img {
  height: 30em !important;
}
h3 {
  text-align: center !important;
}
#bascarousel div#lien {
  background-color: black !important;
  color: white !important ;
}

#bascarousel a {
  text-align: center;
  position: relative !important;
  top: 1.5em !important;
  border-radius: 1em !important;
  padding: 0.25em 0 !important;
  display: block !important;
}
#bascarousel a:hover {
  color: aqua !important;
}
.active {
  color: red !important;
  font-weight: 500;
}
.descriptions {
  height: 6.5em !important;
}
tbody tr:hover {
  border: solid 5px red;
}
td,
thead {
  border: solid 0.1px;
}
.sticky {
  position: sticky !important;
  top: 0;
  border: solid 3px !important;
}
.panier {
  position: absolute;
  top: 0.3em;
  right: 3em;
  font-size: 1.6em;
}
.panier span {
  background-color: red !important;
  border-radius: 1em !important;
  padding: 1px 7px;
  font-size: 0.65em !important;
  color: white !important;
  font-weight: bolder;
  position: relative;
  right: 0.5em;
  top: -0.9em;
}
